@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.img-container span,
.img-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.slick-dots li button:before {
  font-size: 14px;
  color: #903636;
}
.slick-dots li.slick-active button:before {
  color: #d4a051;
}
.slick-dots li button {
  color: #903636;
}
.trans3 {
  transition: all 0.3s ease;
}
.trans2 {
  transition: all 0.2s ease;
}
@media (max-width: 640px) {
  p {
    font-size: 14px;
  }
}
